/* version: 1.0.0 */

/*---------LANDING PAGE STYLES------------*/

/*---------/LANDING PAGE STYLES------------*/



/*---------CSS 3 ANIMATES------------*/
.landing-block{
    padding: 30px 0;
    margin-bottom: 50px;
    text-align: justify;
    background: #f6f6f6;
}

.landing-block .item{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    margin-right: 15px;
    text-align: center;
}

.landing-block .item1{
    background: #ffc2a8;
}

.landing-block .item2{
    background: #85ffc5;
}

.landing-block .item3{
    background: #bbb3ff;
}

/*  скрываем все элементы, которые собираемся анимировать */
.animated{
    visibility: hidden;
}

/* Можно указать скорость анимации и др параметры */
.landing-block .item.fadeInDown:nth-child(1){
    -webkit-animation-duration: 0.5s;
    animation-duration:  0.5s;
}

.landing-block .item.fadeInDown:nth-child(2){
    -webkit-animation-duration: 0.8s;
    animation-duration:  0.8s;
}

.landing-block .item.fadeInDown:nth-child(3){
    -webkit-animation-duration: 1.1s;
    animation-duration:  1.1s;
}

/* Показываем элементы, когда происходит их анимация */
.fadeInDown, .fadeOut{
    visibility: visible;
}

.sticky-element{
    position: relative;
    width: 150px;
    height: 150px;
    background: indianred;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-left: 400px;
}

/*класс для элемента в фиксированном виде*/
.sticky-element.stuck{
    position: fixed;
    top:169px;
}
/*---------/CSS 3 ANIMATES------------*/